{{- $image := .Destination -}}
{{- $alt := .Text | default "" -}}
{{- $title := .Title | default "" -}}
{{- $class := .Attributes.class | default "" -}}

{{- $figureClass := "" -}}
{{- if and $title $class -}}
  {{- $figureClass = printf "image-container %s" $class -}}
{{- else if $title -}}
  {{- $figureClass = "image-container" -}}
{{- else if $class -}}
  {{- $figureClass = $class -}}
{{- end -}}

<figure{{ with $figureClass }} class="{{ . }}"{{ end }}>
  <img
    src="{{ $image | safeURL }}"
    alt="{{ $alt }}"
    {{- if $title }} title="{{ $title }}"{{ end -}}
    loading="lazy"
    decoding="async"
    {{- if strings.HasSuffix $image ".svg" }} role="img"{{ end -}}
  >
  {{- with $title }}<figcaption>{{ . }}</figcaption>{{ end -}}
</figure>

